body {
  padding: 0;
  margin: 0;
}

.mainContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
}

.displayInputs {
  background-color: #858693;
  width: 50%;
  height: 90px;
  text-align: end;
  color: #fff;
}

.calcDiv {
  display: grid;
  grid-template-columns: auto auto auto auto;
  width: 50%;
}

.btn {
  font-size: 30px;
  background-color: #e0e0e0;
  border: 1px solid rgb(211, 211, 211);
  height: 99px;
}

.btn:active {
  background-color: rgb(156, 152, 152);
}

.btnZero {
  height: 99px;
  font-size: 20px;
  background-color: #e0e0e0;
  border: 1px solid lightgray;
  grid-column: 1/3;
}

.btnoperator {
  background-color: #f5913e;
}

/* .displayResult {
  width: 50%;
  background-color: #858693;
  color: #fff;
  text-align: end;
} */

h1 {
  padding-right: 15px;
}